@use './normStyle.scss';
@use './variables.scss';
@use './game.scss';

body {
	background-color: #f5f5f5;
	font-size: 24px;
	font-family: 'Montserrat', sans-serif;
	font-optical-sizing: auto;
	font-weight: 400;
	font-style: normal;
}

::selection {
	background-color: #ffadb6;
}

.page {
	overflow: hidden;
	min-height: 100vh;

	display: flex;
	flex-direction: column;
}

.container {
	max-width: 1030px;
	width: 100%;
	margin: 0 auto;
	padding: 24px 0 20px;
	font-weight: bold;
}

//  CONTENT

main {
	.container {
		padding: 0 1rem;
	}
}

.content {
	width: 100%;
	display: flex;
	justify-content: center;
}

.name {
	margin-top: 15px;
	margin-bottom: 15px;
	font-weight: 200;
	font-size: 80px;
	color: #f9d2d1;
	text-align: center;
	transition: 0.2s linear;
	@media (max-width: 499px) {
		font-size: 50px;
	}
}

button {
	background: none;
	font-size: 13px;
	padding: 8px 16px;
	border: none;
	border-radius: 5px;
	cursor: pointer;
	margin: 10px 0px;
}
.active-button {
	border: 1px solid #e9d9d8;
	border-radius: 4px;
}
